.About {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__headerBox {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: #81a9d0;
    height: 120px;
    width: 60vw;
    clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
  }
  &__header {
    margin-left: 5vw;
    font-size: 200%;
  }
  &__agnes {
    display: flex;
    align-items: center;
    border: 1px solid red;
    height: 50vh;
  }
  &__agnesImageBox {
    display: flex;
    justify-content: center;
    width: 30vw;
  }
  &__agnesBioBox {
    width: 65vw;
    margin-right: 5vw;
  }
  &__norbert {
    display: flex;
    align-items: center;
    border: 1px solid blue;
    height: 50vh;
  }
  &__norbertImageBox {
    display: flex;
    justify-content: center;
    width: 30vw;
  }
  &__norbertBioBox {
    width: 65vw;
    margin-right: 5vw;
  }
}
